<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  </head>
  <style>
  body {
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  a  {
     color: white!important;
     text-decoration: none!important;
  }

  .half {
      transform: rotate(90deg);
  }

  #message_holder {
      transform: rotate(90deg);
      position: absolute;
      top: 325px;
      right: 100px;
      width: 500px;
      height: 200px;
      text-align: center;
      display: table;
  }

  div#message {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      height: 100%;
  }


  .row {
      margin: 25px 0px;
      float: left;
      width: 100%;
      display: inline-block;
      /* padding: 0px 25px; */
  }

  .item {
      display: inline-block;
      line-height: 38px;
  }

  .item.number {
      width: 10%;
  }
  .item.name {
      width: 20%;
  }
  .item.total {
      width: 5%;
      margin: 0px 25px;
  }

  button.item.button.btn.btn-success {
      width: 150px;
      margin: 0px 25px;
  }

  button.item.button.btn.btn-info {
      width: 100px;
      margin: 0px 25px;
      /* float: right; */
  }

  form {
margin: 40px 0px;
height: 50px;
display: flex;
align-content: center;
justify-content: center;
width: 50%;
}

form input {
height: 100%;
padding: 0px 30px;
width: 100%;
}

form button {
height: 100%;
padding: 0px 0px;
width: 100px;
text-align: center;
}
  </style>
  <body>
    <div style="padding: 50px;">
      <div class="" style="display: flex;
    align-items: center;
    justify-content: space-between;">
        <form action="/orders/search" method="post">
          <input name="order" placeholder="Order # or Name" type="text"/>
          <button type="submit" value="SEARCH">SEARCH</button>
        </form>
        <button class="item button btn btn-success" style="width: 200px;"><a href="/orders/today">TODAYS ORDERS</a></button>
        <button class="item button btn btn-success" style="width: 200px;"><a href="/orders/tomorrow">TOMORROWS ORDERS</a></button>
      </div>
      <h1>Orders:</h1>
      <% for (i=0; i<orders.length; i++) { %>
        <div class="row">
          <div class="item number">#<%= orders[i].order_number %></div>
          <% if (orders[i].customer) { %>
          <div class="item name"><%= orders[i].customer.first_name %> <%= orders[i].customer.last_name %></div>
          <% } else { %>
          <div class="item name">------------------</div>
          <% } %>
          <div class="item total">$<%= orders[i].total_price_usd %></div>
          <!-- <button class="item button btn btn-info"><a href="">EDIT</a></button> -->
          <button class="item button btn btn-success"><a href="/order/reprint/pdf/<%= orders[i]._id %>?key=<%= Math.random() %>">PRINT</a></button>
          <button class="item button btn btn-warning"><a href="https://admin.wildthings-pos.com/order/pdf/<%= orders[i]._id %>" target="_blank">PDF</a></button>
          <button class="item button btn btn-danger"><a href="/order/json/<%= orders[i]._id %>">JSON</a></button>
          <div class="item name" style="width: 300px; padding-left: 10px;">Updated: <%= moment(orders[i].updated_at).startOf('min').fromNow(); %></div>
        </div>
      <% } %>
    </div>

  </body>
</html>
