<!DOCTYPE html>
<html>
<head>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<style>
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a  {
   color: white!important;
   text-decoration: none!important;
}

.half {
    transform: rotate(90deg);
}

#message_holder {
    transform: rotate(90deg);
    position: absolute;
    top: 325px;
    right: 100px;
    width: 500px;
    height: 200px;
    text-align: center;
    display: table;
}

div#message {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
}


.row {
    margin: 25px 0px;
    float: left;
    width: 100%;
    display: inline-block;
    /* padding: 0px 25px; */
}

.item {
    display: inline-block;
    line-height: 38px;
}

.item.number {
    width: 10%;
}
.item.name {
    width: 20%;
}
.item.total {
    width: 5%;
    margin: 0px 25px;
}

button.item.button.btn.btn-success {
    width: 150px;
    margin: 0px 25px;
}

button.item.button.btn.btn-info {
    width: 100px;
    margin: 0px 25px;
    /* float: right; */
}
</style>
  <body style="padding: 50px">
    <button class="btn btn-default"><a href="/orders" style="color: black!important;">< RETURN TO ORDERS</a></button>
    <form action="/order/edit/<%= order._id %>" method="post">
        <% for (i=0; i < order.note_attributes.length;i++) {%>
          <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
            <label style="float: left; width: 100%"><%= order.note_attributes[i].name %></label>
            <textarea style="float: left; height: 100px; width: 300px;" name="<%= order.note_attributes[i].name %>"><%= order.note_attributes[i].value %></textarea>
          </div>
        <% } %>
          <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
            <label style="float: left; width: 100%">Recipent First Name</label>
            <textarea style="float: left; height: 100px; width: 300px;" name="<%= order.shipping_address.first_name %>"><%= order.shipping_address.first_name %></textarea>
          </div>

          <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
            <label style="float: left; width: 100%">Recipent Last Name</label>
            <textarea style="float: left; height: 100px; width: 300px;" name="<%= order.shipping_address.last_name %>"><%= order.shipping_address.last_name %></textarea>
          </div>

          <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
            <label style="float: left; width: 100%">Address 1</label>
            <textarea style="float: left; height: 100px; width: 300px;" name="<%= order.shipping_address.address1 %>"><%= order.shipping_address.address1 %></textarea>
          </div>

          <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
            <label style="float: left; width: 100%">Address 2</label>
            <textarea style="float: left; height: 100px; width: 300px;" name="<%= order.shipping_address.address2 %>"><%= order.shipping_address.address2 %></textarea>
          </div>

          <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
            <label style="float: left; width: 100%">City</label>
            <textarea style="float: left; height: 100px; width: 300px;" name="<%= order.shipping_address.city %>"><%= order.shipping_address.city %></textarea>
          </div>

          <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
            <label style="float: left; width: 100%">ZIP</label>
            <textarea style="float: left; height: 100px; width: 300px;" name="<%= order.shipping_address.zip %>"><%= order.shipping_address.zip %></textarea>
          </div>

          <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
            <label style="float: left; width: 100%">Phone</label>
            <textarea style="float: left; height: 100px; width: 300px;" name="<%= order.shipping_address.phone %>"><%= order.shipping_address.phone %></textarea>
          </div>
          <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
            <label style="float: left; width: 100%">Compnay</label>
            <textarea style="float: left; height: 100px; width: 300px;" name="<%= order.shipping_address.company %>"><%= order.shipping_address.company %></textarea>
          </div>
        <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
          <label style="float: left; width: 100%">Note:</label>
          <textarea style="float: left; height: 100px; width: 300px;" name="note"><%= order.note %></textarea>
        </div>
      <button class="item button btn btn-success" type="submit">SAVE</button>
    </form>
  </body>
</html>
