<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css"/>
  </head>
  <body>
    <div style="padding: 50px;">
      <h1>Orders:</h1>
      <% for (i=0; i<orders.length; i++) { %>
        <div class="row">
          <div class="item number">#<%= orders[i].order_number %></div>
          <% if (orders[i].customer) { %>
          <div class="item name"><%= orders[i].customer.first_name %> <%= orders[i].customer.last_name %></div>
          <% } else { %>
          <div class="item name">------------------</div>
          <% } %>
          <div class="item total">$<%= orders[i].total_price_usd %></div>
          <!-- <button class="item button btn btn-info"><a href="">EDIT</a></button> -->
          <!-- <button class="item button btn btn-success"><a href="/order/reprint/pdf/<%= orders[i]._id %>?key=<%= Math.random() %>">PRINT</a></button> -->
          <button class="item button btn btn-warning"><a href="/order/edit/<%= orders[i]._id %>">EDIT NOTES</a></button>
          <!-- <button class="item button btn btn-danger"><a href="/order/delete/<%= orders[i]._id %>">DELETE</a></button> -->
        </div>
      <% } %>
    </div>

  </body>
</html>
