<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css"/>
  </head>
  <body style="padding: 50px">
    <button class="btn btn-default"><a href="/orders" style="color: black!important;">< RETURN TO ORDERS</a></button>
    <form action="/order/edit/<%= order._id %>" method="post">
      <% if (order.note_attributes.length === 12) { %>
        <% for (i=0; i < order.note_attributes.length;i++) {%>
          <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
            <label style="float: left; width: 100%"><%= order.note_attributes[i].name %></label>
            <textarea style="float: left; height: 100px; width: 300px;" name="<%= order.note_attributes[i].name %>"><%= order.note_attributes[i].value %></textarea>
          </div>
        <% } %>
      <% } else if (order.note_attributes.length === 7) { %>
        <% for (i=0; i < order.note_attributes.length;i++) {%>
          <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
            <label style="float: left; width: 100%"><%= order.note_attributes[i].name %></label>
            <textarea style="float: left; height: 100px; width: 300px;" name="<%= order.note_attributes[i].name %>"><%= order.note_attributes[i].value %></textarea>
          </div>
        <% } %>
      <% } else if (order.note_attributes.length === 6) { %>
        <% for (i=0; i < order.note_attributes.length;i++) {%>
          <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
            <label style="float: left; width: 100%"><%= order.note_attributes[i].name %></label>
            <textarea style="float: left; height: 100px; width: 300px;" name="<%= order.note_attributes[i].name %>"><%= order.note_attributes[i].value %></textarea>
          </div>
        <% } %>
        <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
          <label style="float: left; width: 100%">Note:</label>
          <textarea style="float: left; height: 100px; width: 300px;" name="note"><%= order.note %></textarea>
        </div>
      <% } else if (order.note_attributes.length === 11) { %>
        <% for (i=0; i < order.note_attributes.length;i++) {%>
          <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
            <label style="float: left; width: 100%"><%= order.note_attributes[i].name %></label>
            <textarea style="float: left; height: 100px; width: 300px;" name="<%= order.note_attributes[i].name %>"><%= order.note_attributes[i].value %></textarea>
          </div>
        <% } %>
        <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
          <label style="float: left; width: 100%">Note:</label>
          <textarea style="float: left; height: 100px; width: 300px;" name="note"><%= order.note %></textarea>
        </div>
      <% } else { %>
        <% for (i=0; i < order.note_attributes.length;i++) {%>
          <div style="width: 46%; margin:30px 2%; float: left;margin-bottom: 30px;">
            <label style="float: left; width: 100%"><%= order.note_attributes[i].name %></label>
            <textarea style="float: left; height: 100px; width: 300px;" name="<%= order.note_attributes[i].name %>"><%= order.note_attributes[i].value %></textarea>
          </div>
        <% } %>
      <% } %>
      <button class="item button btn btn-success" type="submit">SAVE</button>
    </form>
  </body>
</html>
